<p style="color: green"><%= notice %></p>

<%= render @turma %>

<div>
  <%= link_to "Editar turma", edit_turma_path(@turma), class:"btn btn-warning" %> 
  <%= link_to "Voltar para turmas", turmas_path, class:"btn btn-info" %>

  <%= button_to "destruir turma", @turma, method: :delete,class: "btn btn-danger" %>
</div>
